@font-face {
    font-family: 'YesevaOne';
    src: url(./fonts/YesevaOne/YesevaOne-Regular.ttf);
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: 'NunitoSans';
    src: url(./fonts/NunitoSans/NunitoSans-Regular.ttf);
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: 'NunitoSans';
    src: url(./fonts/NunitoSans/NunitoSans-Italic.ttf);
    font-style: italic; 
    font-weight: normal;
}

body{
    margin: 0;
    font-family: 'NunitoSans';
    
}

body * {
    box-sizing: border-box;
}

.container{
    max-width: 1250px;
    margin: 0px auto;
    font-size: 11px;
}

.header{
    background-color: #000;

}

.header__content{
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header__logo{
    color: #E3B873;
    text-transform: uppercase;
    margin-left: 92px;
}

.header__nav{
    list-style: none;
    display: flex;
    
}

.header__nav__item{
    margin-right: 47px;
}

.header__nav__link{
    text-decoration: none;
    color: #fff;
}

.phone__link{
    color: #E3B873;    
}
.button{
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(158, 154, 147, 0.2);
    border-radius: 2px;
    border: 1px solid rgba(158, 154, 147);
    color: #FFFFFF;
    outline: 15px;
    padding: 13px 33px;
    text-transform: uppercase;
    font-family: 'NunitoSans';
    font-style: italic;
}
button:hover{
    cursor: pointer;
}
.button__clear{
    background: none;
    border: 1px solid #fff;
    margin-left: 20px;
}

.hero{
    background-image: url("./image/header_hero.jpg");
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
    color: #fff;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero__container{
    position: relative;
    z-index: 1;


}

.title{
    margin: 0px;
    font-family: 'YesevaOne';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
}

.title__excretion{
    color: #E3B873;
}

.subtitle{
    font-family: 'NunitoSans';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    margin: 19px 0px 41px;
}

.hero__nav{
    margin-top: 0px;
    color: #fff;
    font-family: 'YesevaOne';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    justify-content: flex-end;
    padding-top: 107px;
    color: #E3B873

}

.hero__admiral{
    height: 550px;
    display: flex;
    justify-content: space-between;

}

.hero__nav__list{
    margin-right: 61px;
}

.hero__subtitle{
    background-color: #000;
    height: 1074px;
}
.hero__h2{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.hero__text{
    color: #fff;
    font-size: 14px;
    line-height: 27px;
}

.img__subtitle{
    padding-top: 69px;
    height: 482px;
    width: 679px;

}
.option__h3{
    color: #E3B873;
}

.option__span{
    color: #fff;
}