*{
    margin: 0;
    font-family: OpenSans, Arial, serif;

}


.section_main{
    padding-left: 30px;

}
.image{
    display: flex;
    flex-direction: column;

}
.selfie{
    border: 3px solid darkslateblue;

}
main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 100vw;
    min-height: 100vh;

}
.phone__icon{
    margin-right: 20px;
}
.mail__icon{
    margin-right: 20px;
}
nav{
    padding: 20px;
    border-bottom: 1px solid blue;
    text-align: center;

}
a{
    margin-left: 30px;
    font-size: 16px;


}
.contacts.adr{
    display: flex;
    align-self: flex-start;
    justify-content: left;
    margin: 10px 0px;
}
a:first-of-type{
    margin-left: 0px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: darkslateblue;
   align-items: center;
}
h2{
    border-left: 5px solid rgb(173, 154, 154);
    margin: 20px 0px;
    padding-left: 10px;
    color:darkslateblue;

}

h2:first-of-type{
    margin-top: 0px;
}

footer{

    border-top: 1px solid blue;
    padding: 20px;
    text-align: center;

}